# Copy this file to secrets.cfg on the server host.
# NEVER commit secrets.cfg.
# Obtain the values from Cfx.re Portal and your database provider.

sv_licenseKey "cfxk_1gqIbpzXi4ZScxUjvsjU5_4NvWNv"
set mysql_connection_string "mysql://root:12345678@localhost/Qbox_A4B177?charset=utf8mb4"

# Optional NPWD integrations
# set SCREENSHOT_BASIC_TOKEN ""
# set NPWD_AUDIO_TOKEN ""
